{% extends "reviews/base.html" %}

{% block content %}
    <div class="reviews">
        <h1>{{ t('Reviews', 'reviews') }}</h1>

        <ul class="reviews-list">
            {% for review in reviews %}
                <li class="review">
                    <p class="review-name">{{ review.name }}</p>
                    <p class="review-date">{{ review.published_at|date('Y.m.d') }}</p>
                    <div class="review-description">
                        {{ review.content }}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="review-form-holder">
            <div class="row">
                <div class="column large-12">
                    <div class="title">
                        {{ t('Send your review', 'Reviews') }}
                    </div>
                </div>
            </div>
            <form action="{% url 'reviews:index' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="column large-3">
                        {{ reviews.form.asUl(['name', 'email'])|safe }}

                        <div class="button-holder">
                            <button class="button expand" type="submit">
                                {{ t('Send review', 'Reviews') }}
                            </button>
                        </div>
                    </div>
                    <div class="column large-9">
                        {{ reviews.form.asUl(['content'])|safe }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}