{% if 'update' in admin.actionsList %}
    <a class="mmodal-multiple" data-width="800" href="{% url 'admin:update' moduleName adminClass record.pk %}">
        <i class="icon-edit"></i>
    </a>
{% endif %}

{% if 'view' in admin.actionsList and method_exists(record, "getAbsoluteUrl") %}
    <a href="{{ record.getAbsoluteUrl() }}" target="_blank">
        <i class="icon-search"></i>
    </a>
{% endif %}

{% if 'info' in admin.actionsList %}
    <a href="{% url 'admin:info' moduleName adminClass record.pk %}">
        <i class="icon-info"></i>
    </a>
{% endif %}

{% if 'delete' in admin.actionsList %}
    <a class="action-delete" data-confirm="{{ t('Do you really want to delete this object?', 'core') }}" href="{% url 'admin:delete' moduleName adminClass record.pk %}?_next={{ request.path }}">
        <i class="icon-x"></i>
    </a>
{% endif %}
