{% if modelPk %}
    <section id="{{ id }}" class="files-frop">
        <p class="info">{{ t('Drop files here or click to upload manually', 'files') }}</p>
        <div class="progress">
            <div class="meter progress_bar"></div>
        </div>
    </section>

    <section class="files-content" id="{{ contentId }}">
        <ul class="large-block-grid-6" id="{{ filesId }}">
            {% for item in items %}
                <li data-pk="{{ item.pk }}">
                    <div>
                        <p>
                            <a href="{{ item.getField(fileField).url }}">{{ item.getField(fileField).url|basename }}</a>
                            <span class="remove">&times;</span>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <p class="empty-info {% if items|length > 0 %}hide{% endif %}">{{ t('There are no files here', 'files') }}</p>
    </section>
    <script type='text/javascript'>
        $('#{{ id }}').filesField({{ data|raw }});
    </script>
{% else %}
    {{ t('For upload files please save the model', 'files') }}
{% endif %}