{% for item in apps %}
    {% set first = item.items|first %}
    <li>
        <div class="menu-item-container">
            {% if item.items %}
                <a class="module-name" href="{% if first.url %}{% url first.url|lower item.module first.adminClass %}{% else %}{% url 'admin:list' item.module first.adminClass %}{% endif %}">
            {% else %}
                <span class="module-name">
            {% endif %}

            <span class="{{ item.module|lower }} module-image" ></span>

            {{ item.name }}

            {% if not item.items %}
                </span>
            {% else %}
                </a>
            {% endif %}
        </div>
        {% if item.items and item.items|length > 1 %}
            <ul>
                {% for child in item.items %}
                    <li>
                        <a href="{% if child.url %}{% url child.url item.module child.adminClass %}{% else %}{% url 'admin:list' item.module child.adminClass %}{% endif %}">
                            {{ child.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    <li>
        <span class="divider"></span>
    </li>
{% endfor %}
