{% extends request.isAjax ? "admin/ajax.html" : "admin/base.html" %}

{% block title %}{{ t('Files', 'files') }}{% endblock %}

{% block breadcrumbs %}
    {% set this.breadcrumbs = [['name' => t('Files', 'files')]] %}
    {% parent %}
{% endblock %}

{% block heading %}
    <h1>{{ t('Files', 'files') }}</h1>
{% endblock %}

{% block content %}
    <div class="file-manager" id="zone">
        <div class="row actions-row manage">
            <div class="large-3 column">
                <a class="button expand" id="select" href="#">
                    {{ t('Select files to upload', 'files') }}
                </a>
            </div>
            <div class="large-3 column">
                <a class="button expand remove-selected" href="#">
                    {{ t('Remove selected files', 'files') }}
                </a>
            </div>
            <div class="large-3 column">
                <input class="create-folder-input" id="folderName" type="text"
                       placeholder="{{ t('Folder name', 'files') }}"/>
                <button class="create-folder-button button expand">{{ t('Create new folder', 'files') }}</button>
            </div>
            <div class="large-3 column"></div>
        </div>

        <div class="uploading-info">
            <div class="info-table">
                <div class="cell">
                    <h1>{{ t('Uploading, please wait...', 'files') }}</h1>

                    <p class="progress">
                        <span id="progress_bar" class="meter"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="drop-info">
            <div class="info-table">
                <div class="cell">
                    <h1>{{ t('Drop files here', 'files') }}</h1>
                </div>
            </div>

        </div>
        <div class="messages"></div>

        {% include "files/_list.html" %}
    </div>
{% endblock %}
