{% extends 'admin/base.html' %}

{% block heading %}
    <h1>{{ admin.getVerboseNameUpdate(model) }}</h1>
{% endblock %}

{% block content_class %}update{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" class="clearfix save-update">
        {% csrf_token %}

        {{ form.asUl()|raw }}

        {% include 'multiple/owner/_multiple.html' %}

        <div class="buttons-block">
            <input type="submit" class="ui button tiny primary" name="save" value="{{ t('Save', 'admin') }}"/>
            <input type="submit" class="ui button tiny basic" name="save_continue"
                   value="{{ t('Save and continue', 'admin') }}"/>
            <input type="submit" class="ui button tiny basic" name="save_create"
                   value="{{ t('Save and create', 'admin') }}"/>

            {% if model %}
                <div class="right">
                    {% if method_exists(model, "getAbsoluteUrl") %}
                        <a class="ui button tiny basic" href="{{ form.getInstance().getAbsoluteUrl() }}"
                           target="_blank">{{ t('View at site', 'admin') }}</a>
                    {% endif %}
                    <a class="ui button tiny basic"
                       data-confirm="{{ t('Do you really want to delete this item?', 'admin') }}"
                       href="{% url 'admin:delete' module adminClass form.getInstance().pk %}">
                        {{ t('Delete', 'admin') }}
                    </a>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
