{% extends "admin/base.html" %}

{% block breadcrumbs %}
    {% set this.breadcrumbs = breadcrumbs %}
    {% parent %}
{% endblock %}

{% block heading %}
    <h1>{{ t('Change password', 'user') }}</h1>
{% endblock %}

{% block content %}
    <div class="form--main">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.render()|raw }}

            <div class="buttons-block">
                <input type="submit" class="button" value="{{ t('Change password', 'user') }}"/>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $('.form--main').find('input[type=text], textarea, select').filter(':visible:first').focus();
    </script>
{% endblock %}