<aside id="sidebar">
    <header id="header">
        <nav class="manage right">
            <a href="/" target="_blank" class="ui popup-item"
               data-content="{{ t('Open site', 'admin') }}"
               data-variation="tiny inverted">
                <i class="icon-link"></i>
            </a>
            <a href="{% url 'admin:changepassword' user.pk %}" class="ui popup-item"
               data-content="{{ t('Change password', 'user') }}"
               data-variation="tiny inverted">
                <i class="icon-key"></i>
            </a>
            <a href="{% url 'admin:logout' %}" class="ui popup-item"
               data-content="{{ t('Logout', 'user') }}"
               data-variation="tiny inverted">
                <i class="icon-logout"></i>
            </a>
        </nav>

        <h1 id="logo"><a href="{% url 'admin:index' %}"><i class="icon-mindy"></i> {{ get_version }}</a></h1>
    </header>

    <div class="sidebar-container">
        <div class="ui top attached tabular menu small">
            <div class="item active" data-tab="favorites">Избранное</div>
            <div class="item" data-tab="main">Меню</div>
        </div>

        <div class="ui bottom attached tab segment active" data-tab="favorites">
            <nav class="sidebar-menu">
                {{ get_admin_user_menu()|safe }}
            </nav>
        </div>
        <div class="ui bottom attached tab segment" data-tab="main">
            <nav class="sidebar-menu">
                {{ get_admin_main_menu()|safe }}
            </nav>
        </div>
    </div>
</aside>